#approvals-panel {
  scrollbar-width: thin;
  scrollbar-color: #1a56db transparent;
}

#approvals-panel::-webkit-scrollbar {
  width: 6px;
}

#approvals-panel::-webkit-scrollbar-thumb {
  background-color: #1a56db;
  border-radius: 5px;
}

#approvals-panel::-webkit-scrollbar-track {
  background-color: transparent;
}
